.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 40vh;
    background-color: var(--primary-color);
    color: white;
}

.upper-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 80%;
}

.upper-footer > * {
    width: 40%;
}

.lower-footer {
    height: 20%;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 640px;
    }

    .footer-container {
        height: 60vh;
    }

    .upper-footer {
        flex-direction: column;
        justify-content: space-between;
    }

    .upper-footer > * {
        width: 90%;
    }
}

@media screen and (max-width: 640px) {
    .container {
        max-width: 475px;   
    }
}

@media screen and (max-width: 475px) {
    .container {
        max-width: 100%;
    }

    .footer-container {
        height: 55vh;
    }

    .upper-footer {
        font-size: 15px;
    }

    .upper-footer * {
        font-size: 14px;
    }
}